.contentCard {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    margin-bottom: 4px;
}

.contentCard--img_container {
    width: 100%;
    margin-bottom: 4px;
}

.contentCard--img {
    border-radius: 4px 4px 0 0;
    width: 100%;
}

.contentCart--img_high {
    border-radius: 4px 4px 0 0;
    width: 100%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.contentCart--img_long {
    border-radius: 4px 4px 0 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.contentCard--title_container {
    margin-top: 3px;
    margin-bottom: 4px;
    line-height: 110%;
}

.contentCard--title {
    color: rgba(51, 51, 51, 1);
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: PingFangSC-Medium;
}

.contentCard--extra_info_container {
    margin-top: -3px;
    display: flex;
    flex-direction: row;
}

.contentCard--author_info_container {
    margin-right: auto;
}

.contentCard--author_avatar {
    width: 17px;
    height: 17px;
    min-width: 17px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: auto;
    object-fit: cover;
    margin-right: 4px;
}

.contentCard--author_name {
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
}

.contentCard--like_info_container {
    margin-right: 8px;
}

.contentCard--like_icon {
    width: 13px;
    height: 10px;
    margin-right: 5px;
}

.contentCard--like_count {
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
}