.imageView--img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

.imageView--container {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
}