.activityContent {
    margin-top: 1em;
    text-align: left;
    padding: 0px 14px;
}

.activityContent--paragraph {
    margin-block-start: 0px;
    margin-block-end: 0.6em;
    display: inline-block;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular;
}