.personalInfoView {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 8px 19px;
    padding-bottom: 1.4em;
}

.personalInfoView--background {
    width: 100%;
}